<section class="relative w-full overflow-hidden bg-black">
  <div class="flex flex-row justify-center p-2">
    <div class="flex flex-col justify-center relative">
      <span class="pr-[1px] bg-white h-[100px] self-center"></span>
      <div class="w-10 h-10 rounded-full bg-white"></div>
    </div>
  </div>
  <h1 class="text-slate-100">Acerca de mi</h1>
</section>
