<section class="relative w-full overflow-hidden bg-black">
  <div class="block px-6 mx-auto max-w-5xl">
    <div class="flex flex-row justify-center p-2">
      <div class="flex flex-col justify-center relative">
        <span class="pr-[1px] bg-[#FFE8AE] h-[100px] self-center"></span>
        <div
          class="w-10 h-10 rounded-full bg-gradient-to-b from-[#FFE8AE] to-[#FFB800]"
        >
        </div>
      </div>
    </div>

    <h3 class="text-4xl font-bold mb-5 text-[#FFB800] text-center">
      Acerca de mi
    </h3>
    <p class="text-white">
      Apasionado por la tecnología, con experiencia en desarrollo de software y
      conocimientos en Frontend y Backend utilizando principalmente ReactJS,
      Python, SQL y MongoDB. Profesional proactivo, con habilidades en
      resolución de problemas, comprometido con la calidad del trabajo y la
      aplicación de las últimas tendencias en tecnología para ofrecer soluciones
      innovadoras y eficientes.
    </p>
  </div>
</section>
