---
import Title from "./Title.astro";
import University from "./University.astro";
import Profile from "./Profile.astro";
import Experience from "./Experience.astro";
---

<section class="relative w-full overflow-hidden bg-black" id="about">
  <div class="px-6 mx-auto max-w-5xl animate-fade-in">
    <Title title="Acerca de mí" />
    <div
      class="flex flex-col md:flex-row justify-between items-stretch mb-20 gap-10"
    >
      <div class="flex flex-col w-full md:w-1/2 gap-10">
        <div class="custom-hidden">
          <University />
        </div>
        <div class="custom-hidden">
          <Profile />
        </div>
      </div>
      <div class="flex w-full md:w-1/2">
        <div class="custom-hidden">
          <Experience />
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module">
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        console.log(entry);
        if (entry.isIntersecting) {
          entry.target.classList.add("custom-show");
        }
      });
    },
    { threshold: 0.5 }
  );

  const hiddenElements = document.querySelectorAll(".custom-hidden");
  hiddenElements.forEach((el) => observer.observe(el));
</script>

<style>
  .custom-hidden {
    @apply opacity-0 transform scale-75 transition-all duration-1000 ease-out;
  }

  .custom-show {
    @apply opacity-100 scale-100;
  }
</style>
