---
import Title from "./Title.astro";
import Job from "./Job.astro";
import experience from "../data/experience.json";

experience.sort((a, b) => b.id - a.id);
---

<section class="relative w-full overflow-hidden bg-black">
  <div class="block px-6 mx-auto max-w-5xl mb-24">
    <Title title="Experiencia" />

    <ol class="relative border-l border-neutral-700">
      {
        experience.map((job) => (
          <Job
            current={job.current}
            title={job.title}
            tenure={job.tenure}
            description={job.description}
          />
        ))
      }
    </ol>
  </div>
</section>
