---
const date = new Date();
const year = date.getFullYear();
---

<footer class="relative w-full overflow-hidden">
  <div class="px-6 mx-auto max-w-5xl text-center py-4">
    <div class="border-t border-neutral-700 mb-4"></div>
    <p class="text-neutral-500 text-sm">Creado por Jesús Luján · {year}</p>
  </div>
</footer>
