---
const { current, title, tenure, description } = Astro.props;
---

<li class="mb-10 ml-6">
  <span
    class="absolute flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-neutral-900 bg-neutral-600"
  >
    <!--     <svg
      aria-hidden="true"
      class="w-3 h-3 text-neutral-300"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        fill-rule="evenodd"
        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
        clip-rule="evenodd"></path></svg
    > -->

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="w-3 h-3 text-neutral-300"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M8 9l3 3l-3 3"></path><path d="M13 15l3 0"></path><path
        d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
      ></path></svg
    >
  </span>
  <h3 class="mb-1 text-base font-semibold text-[#FFE8AE]">
    {title}
    {
      current && (
        <span class="bg-[#FFB800] text-neutral-900 text-sm font-bold px-2.5 py-0.5 rounded">
          Actual
        </span>
      )
    }
  </h3>
  <time class="block mb-2 text-sm font-normal leading-none text-neutral-500"
    >{tenure}</time
  >
</li>
