<nav
  class="h-16 relative z-[999] top-0 left-0 right-0 flex justify-center items-center backdrop-blur-sm"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-full">
      <div class="hidden md:block">
        <div class="flex items-center gap-8">
          <!-- Aquí puedes agregar los enlaces del menú -->
          <a
            href="#"
            class="rounded-md text-sm font-medium text-[#FFB800] hover:text-neutral-200 focus:outline-none focus:text-neutral-200"
            >Inicio</a
          >
          <a
            href="#"
            class="rounded-md text-sm font-medium text-[#FFB800] hover:text-neutral-200 focus:outline-none focus:text-neutral-200"
            >Acerca de</a
          >
          <a
            href="#"
            class="rounded-md text-sm font-medium text-[#FFB800] hover:text-neutral-200 focus:outline-none focus:text-neutral-200"
            >Proyectos</a
          >
          <a
            href="#"
            class="rounded-md text-sm font-medium text-[#FFB800] hover:text-neutral-200 focus:outline-none focus:text-neutral-200"
            >Contacto</a
          >
        </div>
      </div>
      <div class="md:hidden">
        <!-- Botón para abrir el menú en dispositivos móviles -->
        <button
          class="inline-flex items-center justify-center rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white"
        >
          <svg
            class="h-6 w-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
