<div
  class="border border-neutral-700 rounded-lg p-10 flex-1 flex flex-col justify-center gap-5"
>
  <svg viewBox="0 0 24 24" class="w-10" xmlns="http://www.w3.org/2000/svg"
    ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
      <path
        d="M7 8L3 12L7 16"
        stroke="#FFB800"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M17 8L21 12L17 16"
        stroke="#FFB800"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M14 4L9.8589 19.4548"
        stroke="#FFB800"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </g></svg
  >
  <p class="text-base font-normal text-neutral-300">
    Apasionado por la tecnología, con experiencia en desarrollo de software y
    conocimientos en Frontend y Backend utilizando principalmente ReactJS,
    Python, SQL y MongoDB.
  </p>

  <p class="text-base font-normal text-neutral-300">
    Profesional proactivo, con habilidades en resolución de problemas,
    comprometido con la calidad del trabajo y la aplicación de las últimas
    tendencias en tecnología para ofrecer soluciones innovadoras y eficientes.
  </p>
</div>
