---
import Title from "./Title.astro";
import SoftSkills from "./SoftSkills.astro";
import Techstack from "./Techstack.astro";
---

<section class="relative w-full overflow-hidden bg-black">
  <div class="block px-6 mx-auto max-w-5xl mb-24">
    <Title title="Habilidades" />
    <SoftSkills />
    <Techstack />
  </div>
</section>
