---
import Title from "./Title.astro";
import SoftSkills from "./SoftSkills.astro";
import Techstack from "./Techstack.astro";
---

<section class="relative w-full">
  <div class="block mb-24">
    <Title title="Habilidades" />
    <SoftSkills />
    <Techstack />
  </div>
</section>
