---
import softskills from "../data/softskills.json";
import SoftSkill from "./SoftSkill.astro";
---

<span class="block text-sm font-normal text-center mb-7 text-neutral-500">
  SOFT SKILLS
</span>

<div
  class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5 mb-16 auto-rows-fr"
>
  {
    softskills.map((softskill) => (
      <SoftSkill name={softskill.name} iconName={softskill.iconName} />
    ))
  }
</div>
