---
import Icon from "./Icon.astro";
const { name, iconName } = Astro.props;

const iconColorMap = {
  react: "bg-sky-700",
  javascript: "bg-yellow-300",
  html: "bg-orange-600",
  css: "bg-sky-700",
  tailwind: "bg-cyan-500",
  astro: "bg-orange-600",
  node: "bg-green-600",
  postgresql: "bg-blue-600",
  mongodb: "bg-green-600",
  graphql: "bg-pink-600",
  python: "bg-sky-700",
  vue: "bg-emerald-500",
  flask: "bg-white",
  java: "bg-sky-700",
};
---

<div class="relative group flex flex-grow cursor-default">
  <div
    class={`absolute -inset-1 ${iconColorMap[iconName]} rounded-lg blur-sm opacity-0 transition-opacity duration-[2000ms] ease-[cubic-bezier(0.4, 0, 0.2, 1)] group-hover:opacity-100 group-hover:duration-[800ms]`}
  >
  </div>
  <div
    class="relative flex flex-col justify-center items-center border border-neutral-700 rounded-lg p-5 bg-black w-full transition-transform duration-[2000ms] ease-[cubic-bezier(0.4, 0, 0.2, 1)] group-hover:scale-105 group-hover:duration-[800ms] will-change-transform"
  >
    <Icon iconName={iconName} />
    <span class="block text-sm font-semibold text-center mt-3 text-neutral-300">
      {name}
    </span>
  </div>
</div>
