---
import techstack from "../data/techstack.json";
import Technology from "./Technology.astro";
---

<span class="block text-sm font-normal text-center mb-10 text-neutral-500"
  >TECH STACK</span
>
<div
  class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 gap-5 mb-16 auto-rows-fr"
>
  {
    techstack.map((techstack) => (
      <Technology name={techstack.name} iconName={techstack.iconName} />
    ))
  }
</div>