---
import Icon from "./Icon.astro";
const { name, iconName } = Astro.props;
---

<div
  class="flex flex-col justify-center items-center border border-neutral-700 rounded-lg p-5 transition-transform duration-200 hover:scale-105"
>
  <Icon iconName={iconName} />
  <span class="block text-sm font-semibold text-center mt-3 text-neutral-300"
    >{name}</span
  >
</div>
