<div class="border border-neutral-700 rounded-lg p-10 flex-none justify-center">
  <div class="text-[1.3rem] font-bold text-[#FFB800]">
    Titulado de la Universidad de Católica Santo Toribio de Mogrovejo
  </div>
  <div class="text-sm font-normal text-neutral-500">
    Chiclayo - Lambayeque, Perú
  </div>
</div>
