---
import BaseHead from "@/components/BaseHead.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="flex flex-col min-h-screen font-sans">
    <Navbar />
    <main class="flex-grow relative w-full overflow-hidden">
      <slot />
    </main>
    <Footer />
  </body>
</html>
